@import './Color_theme.scss';

.App {
width: 1440px;

.customer-section {
  background-color:$white-smoke;
  height: 169px;
  padding-left: 162px;
  border-bottom: 1px solid $light-grey;

  .cards {
    font-family: "Metropolis";
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    padding-top: 44px;
    &-item{
      width: 230px;
      padding-right: 184px;
      p {
        color: #5F5F5F;
      }

      img {
        margin-right: 10px;
      }
      span{
        margin-bottom: 16px;
      }
      p{
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.orders-section{
  background-color:$white-smoke;

  h2{
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-top: 65px;
    margin-left: 68px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}


  .header-info {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 68px;
    vertical-align: top;
  }

}