.App {
width: 1440px;

.header {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 88px;
}

.second {
  background-color:#F9F9F9;
  height: 169px;
  padding-left: 162px;
  border: 1px solid #ECECEC;

  .cards {
    font-family: "Metropolis";
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    padding-top: 44px;
    // background-color: green;
    &-item{
      // background-color: greenyellow;
      width: 230px;
      padding-right: 184px;
      p {
        color: #5F5F5F;
      }

      img {
        margin-right: 10px;
      }
      span{
        margin-bottom: 16px;
      }
      p{
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.third {
  background-color:#F9F9F9;
  h2{
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-top: 65px;
    margin-left: 68px;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}


  .font-face-gm {
    font-family: "Metropolis";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 68px;
    vertical-align: top;
  }

  

}