$white: #FFFFFF;
$white-smoke: #F9F9F9;

$light-grey: #ECECEC;
$medium-grey:#5F5F5F;
$dark-grey:#222222;

$black: #000000;

$forest-green : #0A8F73;
$grey: #999999;
$mint-green: #64E1C3;
$orange: #F16500;
$poppy-red: #FE1B1B;
$violet: #7B31D9;