$white: rgb(255,255,255);
$white-smoke: #F9F9F9;

$light-grey: #ECECEC;
$medium-grey:rgba(95, 95, 95, 1);
$dark-grey:rgba(34, 34, 34, 1);
$grey:rgba(0, 0, 0, 0.16);

$black: rgba(0, 0, 0, 1);

$forest-green : rgba(10, 143, 115, 1);
$grey: rgba(153, 153, 153, 1);
$mint-green: #64E1C3;
$orange: #F16500;
$poppy-red: #FE1B1B;
$violet: rgba(123, 49, 217, 1);