@import './Color_theme.scss';
thead {
    color: $grey;

    th{
        font-weight: 500;
        font-size: 14px;
        text-align: start;
        padding:10px;
    }
        
}
    td{
        text-align: start;
    }
    img {
        margin-right: 5px;
        vertical-align: middle;
    }
    .wide-table {
        table-layout: fixed;
        border-spacing: 8px;
        width:1312px;
        font-family: Metropolis;
        margin: 0 64px;
    }

    .wide-table tbody td {
        color: $medium-grey;
        padding: 10px;
        &.order {
            color: $forest-green;
            img{
                margin-left: 4px;
            }
        }
        &.amount{
           color: $dark-grey;
        }
        &.method{
            img{
                height:24px;
                padding:5px;
                border: 1px solid $light-grey;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
        .circle {
            display: inline-block;
            margin-right: 8px;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            &.Paid {
                background: $forest-green;
            }
            &.In-Progress {
                background: $orange;
            }
            &.Failed {
                background: $poppy-red;
            }
        }
    }

    tbody tr{
        font-family: Metropolis;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        height: 80px;
        border: 1px solid $light-grey;
        box-sizing: border-box;
        box-shadow: 4px 4px 16px $grey;
        border-radius: 5px;
    }

    .way{
        width: 80px;
        border-radius: 5px;
        right: 35px;
        position: relative;
        text-align: center;
        transform: rotate(-90deg);
        line-height: 30px;
        &.In-Store{
            color: $white;
            background-color: $black;
        }
        &.Manual{
            color:$white;
            background-color: $orange;
        }
        &.Online{
            background-color: $light-grey;
            color:$black;
        }
    }


    .pagination {
        margin: 30px 64px;
        padding: 15px;
        display: flex;
        list-style: none;
        float:right;
        outline: none !important;

        li {
            padding: 20px 15px;

            &.next,
            &.previous{
                color: $forest-green;
            }

            &.active{
                background-color: $forest-green;
                color: $white;
                border-radius: 50%;
            }

            &.disabled{
                color: $grey
            }

            a {
                outline: none;
                padding: 10px;
            }
        }
      }
